<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root Page</title>

    <link rel="stylesheet" href="{% static 'blog/css/style_home.css' %}">
</head>
<body>
    <center>
        <h1><u>Projects</u></h1>
        <div class="home">
            <h1 class="home"><a  class="home" href="/polls/">Polls Website</a></h1>
        </div>
        <hr class="home">
        <div class="home">
            <h1 class="home"><a  class="home" href="/blog/">Blog Website</a></h1>
        </div>
        <hr class="home">
    </center>
</body>
</html>