hr.home {
    width: 50%;
}

div.home {
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    height: 150px;
    background-color: #336b87;
    -webkit-transition: background-color 1s, color 0.5s; /* Safari */
    transition: background-color 1s, color 0.5s;
}

div:hover.home {
    background-color: #90afc5;
}

h1.home {
    color: #ffffff;
}

a.home:link {
    text-decoration: none;
}

a.home:visited {
    text-decoration: none;
}