{% extends 'blog/base.html' %}

{% block title %} New Password {% endblock %}

{% block body %}

    {% include 'blog/nav_bar.html' %}

    <div id="cover">
        <h1 id="cover-text" style="-webkit-text-stroke: 2px black;">New Password</h1>
        {% if form.new_password1.value|default_if_none:"" != form.new_password2.value|default_if_none:"" %}
        <h3 id="cover-subtext" style="-webkit-text-stroke: 2px black;">Passwords don't match, please enter properly</h3>
        {% else %}
        <h3 id="cover-subtext" style="-webkit-text-stroke: 2px black;">Please Enter your New Password</h3>
        {% endif %}
    </div>

    <div class="post-div" style="width: 100%;">
        <form action="" method="post">
        {% csrf_token %}
        <div id="posts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3><b>{{ form.old_password.errors }}</b></h3>
                        <h3>Old Password: <input type="password" name="old_password" id="passo" /></h3>
                        <h3><b>{{ form.new_password1.errors }}</b></h3>
                        <h3>New Password: <input type="password" name="new_password1" id="pass" /></h3>
                        <h3><b>{{ form.new_password1.errors }}</b></h3>
                        <h3>Confirm Password: <input type="password" name="new_password2" id="passc" /></h3>
                        <br>
                        <center><input type="submit" name="cpass" id="cpass" value="Change Password" />
                    </div>

                </div>
            </div>
        </div>
        <br>
        </form>
        <div class="footer" style="height: 200px">
            <div class="container-fluid">
                <div class="footer-data">
                    <p><a href="">GitHub</a> | <a href="">LinkedIn</a</p>
                    <p> Created by Abhishek.D, MISR Lab, ASE</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}