{% extends 'blog/base.html' %}

{% block title %} Forgot Password {% endblock %}

{% block body %}

    {% include 'blog/nav_bar.html' %}

    <div id="cover">
        <h1 id="cover-text" style="-webkit-text-stroke: 2px black;">Forgotten your password?</h1>
        {% if form.email.errors %}
        <h3 id="cover-subtext" style="-webkit-text-stroke: 2px black;">Wrong Email, please enter correct email...</h3>
        {% else %}
        <h3 id="cover-subtext" style="-webkit-text-stroke: 2px black;">Please Enter your Email</h3>
        {% endif %}
    </div>

    <div class="post-div" style="width: 100%;">
        <form action="" method="post">
        {% csrf_token %}
        <div id="posts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3>Email: <input type="text" name="email" id="email" /></h3>
                        <br>
                        <input type="submit" name="reset" id="reset" value="Send Reset Verifications" />
                    </div>

                </div>
            </div>
        </div>
        <br>
        </form>
        <div class="footer" style="height: 200px">
            <div class="container-fluid">
                <div class="footer-data">
                    <p><a href="">GitHub</a> | <a href="">LinkedIn</a</p>
                    <p> Created by Abhishek.D, MISR Lab, ASE</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}