{% extends 'blog/base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

    {% include 'blog/nav_bar.html' %}

    <div id="cover-detail" style="background-image: url('/media/{{ post.img }}');">
        <h1 id="cover-text" style="-webkit-text-stroke: 2px black;">{{ post.title }}</h1>
        <h3 id="cover-subtext" style="-webkit-text-stroke: 2px black;">Published on: {{ post.pub_date }}</h3>
    </div>

    <div id="post-content" style="width: 100%;">
        <div class="post-detail">
            <div class="container-fluid">
                <div class="row">
                    <center>
                    <div class="col-md">
                        <h1>{{ post.title }}</h1>
                        <br>
                        <p>
                            {{ post.content }}
                        </p>
                    </div>
                        </center>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>

        <center><input type="button" name="bB" id="bB" value="Back" onclick="location.href='/blog/'" /></center>

        <div class="footer">
            <div class="container-fluid">
                <div class="footer-data">
                    <p><a href="">GitHub</a> | <a href="">LinkedIn</a</p>
                    <p> Created by Abhishek.D, MISR Lab, ASE</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}